* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.lock {
  overflow: hidden !important;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

header {
  z-index: 100;
  height: 100vh;
}

video {
  position: absolute;
  width: 100%;
  z-index: -11;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 645px;
  height: 100vh;
}

nav {
  padding-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav .menu li + li {
  margin-left: 25px;
}

nav .menu li a {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
}

nav .active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0 !important;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  background: black;
}

nav .active li {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  text-align: center;
}

nav .active li::after {
  content: '';
  display: block;
  background: #fff;
  width: 100vw;
  height: 1px;
  margin-top: 15px;
}

nav .number a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  display: inline-block;
}

.top-title {
  padding-top: 100px;
  padding-bottom: 250px;
  text-transform: uppercase;
}

.top-title h1 {
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: bold;
  font-size: 105px;
  line-height: 144px;
  text-align: center;
  color: #D6D6D6;
  max-width: 540px;
  margin: 0 auto;
}

.top-title .line {
  margin: 30px auto 13px;
  height: 4px;
  width: 725px;
  background: #fff;
}

.top-title h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: lowercase;
  color: #D6D6D6;
  max-width: 620px;
  margin: 0 auto;
}

.arrow-top {
  position: fixed;
  bottom: 34px;
  right: 20px;
  z-index: 1000000;
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.down .circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  margin-bottom: 7px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-section .about-image_wrap {
  padding: 20px;
  background: #2B2B36;
  width: 100%;
}

.left-side {
  background: #2B2B36;
  color: #FFFFFF;
  padding: 0 70px 44.5px;
}

.left-side h3 {
  padding: 35px 0 22px 0;
  font-size: 40px;
  line-height: 49px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.left-side ul li {
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
}

.left-side ul li::before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 16px;
  background: #fff;
  left: -35px;
  top: 10px;
}

.left-side ul li + li {
  margin-top: 21px;
}

.reason_wrapper {
  background: url(../img/main/map.png) no-repeat center top/cover;
  padding: 33px 0px 60px;
}

.reason_wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.reason-text {
  margin-left: 110px;
}

.reason-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 49px;
  padding-bottom: 50px;
}

.reason-text h2 span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #7E89A1;
}

.reason-text ul {
  max-width: 657px;
}

.reason-text ul li {
  font-size: 16px;
  line-height: 180%;
  padding-left: 15px;
  color: #20202B;
}

.reason-text ul li span {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #20202B;
}

.reason-text ul li + li {
  margin-top: 50px;
}

.reason-photo {
  margin-top: 15px;
}

.reason-photo img {
  display: inline-block;
  margin-bottom: 80px;
}

.reason-photo .answer {
  background: #7E89A1;
  border-radius: 10px;
  padding: 35px 27px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.reason-photo .answer h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 128%;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 320px;
  margin-bottom: 20px;
}

.reason-photo .answer a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  display: inline-block;
  padding: 16px 110px;
  background: #FF8666;
  border-radius: 10px;
}

.why_wrapper {
  background: #7E89A1;
}

.why_wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 27px 0 15px;
  max-width: 750px;
}

.why_wrapper .why-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 15px;
}

.why_wrapper .why-section .why__item {
  margin: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.29);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-width: 350px;
  height: 210px;
}

.why_wrapper .why-section .why__item img {
  display: inline-block;
  padding: 20px 0;
}

.why_wrapper .why-section .why__item p {
  font-size: 14px;
  line-height: 168%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #20202B;
  padding: 0px 40px 25px;
}

.image-full {
  background: url(../img/main/image-big.png) no-repeat center top/cover;
  min-height: 670px;
  padding-top: 400px;
}

.image-full .prozoro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 770px;
  height: 70px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%);
  clip-path: polygon(0 0, 100% 0, 95% 50%, 100% 100%, 0 100%, 5% 50%);
  margin: 0 auto;
}

.image-full .prozoro h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 39px;
  color: #20202B;
}

.image-full .prozoro h2 span {
  color: #E77051;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  line-height: 39px;
}

.services-section h2 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 66px 0 45px;
}

.services-section .services {
  border-top: 1px solid #ABABAB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.services-section .services__item {
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 0.25);
}

.services-section .services__item h3 {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px 10px 0 0;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333333;
  padding: 27px 100px;
}

.services-section .services__item ul {
  padding: 50px 38px 70px 55px;
  list-style-type: disc;
}

.services-section .services__item ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 236%;
  letter-spacing: -0.02em;
  padding-left: 10px;
  color: #333333;
}

.services-section .services__item ul li + li {
  margin-top: 20px;
}

.services-section .services__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #333333;
  padding: 27px 0;
  border-radius: 0 0 10px 10px;
}

.services-section .services .services__item-one h3 {
  background: #B5FFB5;
}

.services-section .services .services__item-one ul {
  background: #D0FFD0;
}

.services-section .services .services__item-one p {
  background: #8BF88B;
}

.services-section .services .services__item-two h3 {
  background: #CBC7FF;
}

.services-section .services .services__item-two ul {
  background: #D7D4FE;
}

.services-section .services .services__item-two p {
  background: #BDB8FF;
}

.services-section .services .services__item-three h3 {
  background: #FFC4C4;
}

.services-section .services .services__item-three ul {
  background: #FFD2D2;
}

.services-section .services .services__item-three p {
  background: #FFB8B8;
}

.services-section .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #7E89A1;
  border-radius: 10px;
  padding: 40px 65px;
  margin-bottom: 50px;
}

.services-section .order p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 133.9%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.services-section .order a {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 132.9%;
  color: #FFFFFF;
  padding: 15px 90px 18px;
  background: #FF8666;
  border-radius: 10px;
}

.location-section {
  position: relative;
}

.location-section iframe {
  width: 100%;
  border: 0;
}

.location-section .contacts {
  position: absolute;
  top: 90px;
  left: 170px;
  padding: 45px 27px 60px 70px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  max-width: 570px;
}

.location-section .contacts h4 {
  margin-bottom: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 68.4%;
  color: #20202B;
}

.location-section .contacts p {
  padding: 0 0 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 97.9%;
  color: #20202B;
}

.location-section .contacts .icons {
  margin-top: 35px;
}

.location-section .contacts .icons a + a {
  margin-left: 20px;
  display: inline-block;
}

.location-section .contacts .icons img {
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

.location-section .contacts div:not(.icons) {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-left: 15px;
}

.location-section .contacts div:not(.icons) .tel {
  margin-left: 17px;
  display: inline-block;
  font-size: 16px;
  color: #0056B3;
  line-height: 22px;
}

.location-section .contacts div:not(.icons) .mail {
  margin-left: 47px;
  display: inline-block;
  font-size: 16px;
  color: #FF8666;
  line-height: 22px;
}

.tender-section {
  background: #7E89A1;
  padding-bottom: 35px;
}

.tender-section h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  padding: 55px 0;
  max-width: 650px;
  margin: 0 auto;
}

.tender-section .tender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.tender__item .tender__item-top {
  max-width: 370px;
  height: 150px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tender__item .tender__item-top p {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}

.tender__item .tender__item-top .arrow-down_wrap {
  margin-top: 10px;
}

.tender__item .tender_text {
  font-size: 14px;
  line-height: 185%;
  color: #FFFFFF;
  max-width: 370px;
  margin-top: 30px;
}

.tender__item .tender__item-one {
  background: #FFDED6;
}

.tender__item .tender__item-two {
  background: #E6EBF7;
}

.tender__item .tender__item-three {
  background: #CDF0C9;
}

footer {
  background: url(../img/main/map.png) no-repeat center top/cover;
}

footer .footer-text_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 75px;
  padding-top: 80px;
}

footer .footer-text_wrap > div {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

footer .footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 120%;
  color: #20202B;
  max-width: 580px;
}

footer .footer-text span {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #20202B;
}

footer .offer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #7E89A1;
  border-radius: 10px;
  padding: 40px 0 35px;
}

footer .offer::before {
  content: url(../img/main/person-main.png);
  display: block;
  position: absolute;
  bottom: 0;
  left: 100px;
}

footer .offer div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

footer .offer .offer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .offer h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 128%;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

footer .offer a {
  display: inline-block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 128%;
  color: #FFFFFF;
  background: #FF8666;
  border-radius: 10px;
  padding: 17px 85px;
  text-transform: uppercase;
}

.rights {
  background: #7E89A1;
  margin-top: 50px;
}

.rights .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 50px 0;
}

.rights .container p {
  font-size: 18px;
  line-height: 128%;
  color: #FFFFFF;
}

.rights .container span {
  font-weight: 600;
  font-size: 18px;
  line-height: 128%;
  margin-top: 35px;
  display: inline-block;
  color: #FFFFFF;
}

.hum_wrapper {
  display: none;
  z-index: 100000;
}

.hum_wrapper:hover {
  cursor: pointer;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.hamburger {
  width: 35px;
  height: 30px;
  position: relative;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 35px;
  height: 4px;
  background-color: #fff;
  display: block;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

/* HAMBURGER 1 */

#checkbox1:checked + label > .hamburger1 > .bar-one {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 5%;
  -ms-transform-origin: 5%;
  transform-origin: 5%;
  width: 41px;
}

#checkbox1:checked + label > .hamburger1 > .bar-two {
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  background-color: transparent;
}

#checkbox1:checked + label > .hamburger1 > .bar-three {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  background-color: transparent;
}

#checkbox1:checked + label > .hamburger1 > .bar-four {
  -webkit-transform-origin: 5%;
  -ms-transform-origin: 5%;
  transform-origin: 5%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 41px;
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.pop-up .close {
  position: absolute;
  top: 0;
  right: 0;
}

.pop-up .close:hover {
  cursor: pointer;
}

.pop-up h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #20202B;
  text-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
  padding: 32px 0;
}

.pop-up form {
  max-width: 370px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pop-up form input {
  display: block;
  width: 100%;
  line-height: 19px;
  font-size: 14px;
  text-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
  color: #7E89A1;
  padding: 10px 0 10px 24px;
  border: 1px solid #D9E0EF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  margin-bottom: 10px;
}

.pop-up form textarea {
  position: relative;
  width: 100%;
  resize: none;
  font-size: 14px;
  line-height: 19px;
  color: #7E89A1;
  text-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
  padding: 9px 25px 0;
  border: 1px solid #D9E0EF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px -9px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  min-height: 150px;
}

.pop-up form label {
  position: absolute;
  bottom: 140px;
  right: 15px;
  font-size: 14px;
  line-height: 19px;
  color: #7E89A1;
}

.pop-up form button {
  margin: 40px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 16px 70px;
  background: #FF8666;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 0.25);
}

.pop-up p {
  max-width: 340px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  margin: 0 auto;
  color: #7E89A1;
  text-shadow: 0px 0px 44px rgba(0, 0, 0, 0.25);
  padding-bottom: 60px;
}

.pop-up p span {
  color: #FF8666;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline;
}

.pop-up_active {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: auto;
}

.fixed {
  position: fixed;
  top: -5px;
  width: 100%;
  left: 0;
  background: #fff;
  padding: 10px;
  z-index: 1000000;
}

.fixed .menu {
  margin-left: 170px;
}

.fixed .menu li a {
  color: #7E89A1;
}

.fixed .number_link {
  color: #7E89A1;
}

.fixed .hamburger .bar {
  background: #333333;
}

.rotate {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (min-width: 320px) {
  nav {
    padding: 18px 15px 0;
  }

  nav .menu {
    top: -100%;
    position: fixed;
  }

  nav .menu li + li {
    margin-left: 0;
  }

  .top-title {
    padding-bottom: 60px;
    padding-top: 0;
  }

  .top-title h1 {
    font-size: 44px;
    line-height: 64px;
    max-width: 270px;
    margin: 0 auto;
  }

  .top-title .line {
    width: 255px;
    margin: 0 auto;
  }

  .top-title h2 {
    font-size: 28px;
    line-height: 33px;
    max-width: 270px;
    margin: 0 auto;
  }

  .arrow-top {
    display: none;
  }

  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-section img {
    max-width: 100%;
  }

  .left-side {
    padding: 0 10px 30px;
    width: 100%;
  }

  .left-side h3 {
    line-height: 27px;
    padding: 25px 20px 20px;
    font-size: 22px;
  }

  .left-side ul li {
    padding-left: 30px;
  }

  .left-side ul li::before {
    left: -1px;
  }

  .reason_wrapper {
    padding-bottom: 25px;
  }

  .reason_wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .reason-text {
    margin-left: 0;
  }

  .reason-text h2 {
    font-size: 22px;
    line-height: 10px;
    text-align: center;
  }

  .reason-text h2 span {
    font-size: 22px;
  }

  .reason-text ul li + li {
    margin-top: 30px;
  }

  .reason-photo img {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .reason-photo .answer a {
    padding: 15px 80px;
  }

  .why_wrapper h2 {
    letter-spacing: -0.02em;
    font-size: 22px;
  }

  .why_wrapper .why-section .why__item p {
    padding: 0px 40px 25px;
  }

  .services-section h2 {
    font-size: 22px;
    padding: 25px 0;
  }

  .services-section .services {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .services-section .services__item {
    max-width: 280px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .services-section .services__item {
    margin: 18px 10px 0;
  }

  .services-section .services__item h3 {
    font-size: 24px;
    padding: 18px 50px;
  }

  .services-section .services__item ul {
    padding: 35px 4px 55px 33px;
  }

  .services-section .services__item ul li {
    font-size: 16px;
  }

  .services-section .services__item ul li + li {
    margin-top: 10px;
  }

  .services-section .services__item p {
    padding: 17px 0;
    font-weight: 500;
  }

  .services-section .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services-section .order p {
    text-align: center;
    margin-bottom: 20px;
  }

  .services-section .order a {
    text-transform: uppercase;
  }

  .location-section iframe {
    height: 410px;
  }

  .location-section .contacts {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 25px 11px;
  }

  .location-section .contacts h4 {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 20px;
  }

  .location-section .contacts .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .location-section .contacts .icons a + a {
    margin-left: 0;
  }

  .location-section .contacts .icons img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .location-section .contacts div:not(.icons) {
    margin-left: 0;
  }

  .location-section .contacts div:not(.icons) .mail {
    margin-left: 40px;
  }

  .tender-section .tender {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  .tender__item {
    max-width: 100%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .tender__item .tender__item-top {
    width: 300px;
  }

  footer .footer-text_wrap {
    padding-top: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  footer .footer-text_wrap div:not(.footer-text) {
    display: none;
  }

  footer .footer-text {
    font-size: 24px;
    text-align: center;
    max-width: 100%;
  }

  footer .footer-text span {
    font-size: 24px;
  }

  footer .offer {
    margin-top: 250px;
  }

  footer .offer div:not(.offer_wrap) {
    display: none;
  }

  footer .offer::before {
    left: 66px;
    bottom: 234px;
    content: url(../img/main/person-main_small.png);
  }

  .rights .container {
    text-align: center;
    font-size: 13px;
  }

  .rights .container p {
    font-size: 13px;
    padding: 0 20px;
  }

  .rights .container span {
    font-size: 13px;
  }

  .rights .container span {
    font-weight: 600;
    font-size: 16px;
    line-height: 128%;
  }

  .hum_wrapper {
    display: block;
    margin-left: 5px;
    z-index: 100000;
  }

  .pop-up .close svg {
    width: 50px;
  }

  .pop-up h2 {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (min-width: 330px) {
  .pop-up .close {
    right: 0;
  }
}

@media screen and (min-width: 360px) {
  .pop-up .close svg {
    width: auto;
  }
}

@media screen and (min-width: 390px) {
  footer .offer::before {
    left: 50%;
    margin-left: -95px;
    bottom: 208px;
  }
}

@media screen and (min-width: 520px) {
  .top-title {
    display: none;
  }

  .down {
    margin-top: 450px;
  }
}

@media screen and (min-width: 570px) {
  .location-section .contacts {
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .services-section .services__item {
    max-width: 100%;
  }

  .services-section .services__item ul {
    padding: 10px 10px 16px 30px;
  }
}

@media screen and (min-width: 768px) {
  nav .number {
    margin-left: auto;
    margin-right: 30px;
  }

  .top-title {
    padding-bottom: 250px;
  }

  .top-title h1 {
    font-size: 75px;
    line-height: 100px;
    text-align: center;
    max-width: 400px;
  }

  .top-title .line {
    width: 430px;
  }

  .top-title h2 {
    max-width: 420px;
    font-size: 40px;
    margin-top: 10px;
  }

  .top-title h2 {
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
  }

  .down {
    display: none;
  }

  .left-side h3 {
    line-height: 49px;
    max-width: 800px;
    font-size: 40px;
    margin-left: 5px;
  }

  .left-side ul {
    margin-left: 40px;
  }

  .reason-text h2 {
    font-size: 40px;
    line-height: 49px;
    max-width: 600px;
  }

  .reason-text h2 span {
    font-size: 40px;
    line-height: 49px;
  }

  .reason-text ul {
    margin-left: 50px;
  }

  .reason-photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .reason-photo img {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .why_wrapper h2 {
    font-size: 32px;
    line-height: 120%;
  }

  .services-section .order {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .services-section .order p {
    margin-bottom: 0;
  }

  .location-section iframe {
    height: 650px;
  }

  .location-section .contacts {
    position: absolute;
    top: 60px;
    left: 20px;
    padding: 25px;
    border-radius: 10px;
    max-width: 350px;
  }

  .tender__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .tender__item .tender__item-top {
    width: 350px;
  }

  .tender__item .tender_text {
    margin-top: 0;
    margin-left: 20px;
  }

  .tender__item .arrow-down_wrap {
    display: none;
  }

  footer .footer-text_wrap {
    padding-top: 80px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  footer .footer-text_wrap div:not(.footer-text) {
    display: block;
  }

  footer .footer-text {
    line-height: 120%;
    max-width: 430px;
    text-align: left;
    font-size: 32px;
  }

  footer .footer-text span {
    font-size: 40px;
  }

  footer .offer {
    margin-top: 0;
  }

  footer .offer div:not(.offer_wrap) {
    display: block;
  }

  footer .offer::before {
    bottom: 0;
    left: 80px;
    content: url(../img/main/person-main.png);
  }

  .rights .container p {
    font-size: 16px;
    line-height: 128%;
    max-width: 576px;
  }
}

@media screen and (min-width: 820px) {
  .about-section {
    width: 100%;
  }

  .about-section img {
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  footer .footer-text {
    max-width: 580px;
  }
}

@media screen and (min-width: 960px) {
  footer .offer::before {
    left: 130px;
  }
}

@media screen and (min-width: 1050px) {
  footer .footer-text {
    position: relative;
    left: -60px;
  }
}

@media screen and (min-width: 1170px) {
  nav .menu {
    position: relative;
    top: 0;
    margin-left: 190px;
  }

  nav .menu li + li {
    margin-left: 25px;
  }

  .top-title h1 {
    font-size: 105px;
    line-height: 144px;
    max-width: 540px;
    margin: 0 auto;
  }

  .top-title .line {
    width: 725px;
  }

  .arrow-top {
    display: block;
  }

  .left-side {
    padding: 0 70px 24.5px;
    height: 528px;
  }

  .left-side h3 {
    margin: 0 auto;
  }

  .left-side ul {
    margin: 0 auto;
    max-width: 700px;
  }

  .reason_wrapper .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .reason-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .reason-photo img {
    margin-bottom: 80px;
    margin-right: 0;
  }

  .services-section .services__item ul {
    padding: 50px 38px 70px 55px;
  }

  .location-section iframe {
    height: 755px;
  }

  .location-section .contacts {
    top: 90px;
    left: 170px;
    padding: 45px 27px 60px 40px;
    max-width: 570px;
  }

  .tender-section .tender {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .tender__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .tender__item .tender_text {
    margin-top: 30px;
    margin-left: 0;
  }

  .hum_wrapper {
    display: none;
  }
}

@media screen and (min-width: 1476px) {
  .about-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

@media screen and (min-width: 1496px) {
  .left-side h3 {
    padding: 35px 0 22px 0;
    font-size: 30px;
    line-height: 35px;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 1496px) {
  .fixed {
    max-width: 100%;
    padding: 10px 10%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 1489px) {
  .left-side {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1475px) {
  .about-section img {
    display: none;
  }

  .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .left-side .block {
    margin-right: 50px;
  }
}

@media screen and (max-width: 1380px) {
  .fixed {
    padding: 10px 5%;
  }
}

@media screen and (max-width: 1220px) {
  .fixed {
    padding: 10px 40px;
  }
}

@media screen and (max-width: 1170px) {
  header {
    height: 80vh;
  }

  video {
    height: 80%;
  }

  .about-section .about-image_wrap {
    height: 100%;
  }
}

@media screen and (max-width: 980px) {
  header {
    height: 60vh;
  }

  video {
    height: 60%;
  }
}

@media screen and (max-width: 900px) {
  .left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .left-side .block {
    margin-bottom: 20px;
    margin-right: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 40vh;
  }

  video {
    height: 40%;
  }

  .about-section img {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  header {
    background: url(../img/main/bg-one.png) no-repeat center top/cover;
  }

  video {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .fixed {
    padding: 10px 20px;
  }
}